/* = TODO
 * . Code block - use --root-hue for background color.
 * . Quote block - style with quotes similarly to asciidoc default.
 * ** `+.quoteblock blockquote::before {}+`
 * . Verbatim looks awful.
 * . There should be a space before (above) the figure name.
 */
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

* {
    overflow-wrap: break-word;
}

:root {
    font-size: 100%;
    --root-hue: 0.13turn;
}

body {
    margin: 1rem clamp(1rem, calc(40vw - 10rem), 40vw);
    font-family: 'Lexend', sans-serif;
    line-height: 1.2;
    color: hwb(var(--root-hue) 0% 94%);
    background-color: hwb(var(--root-hue) 94% 0%);
}

code {
    white-space: pre-wrap;
}
