@import "asciidoctor.css";
h1 {
    background: #abcdef;
}
/*
#tree {
    width: 8em;
    margin: 0;
    background: #dddddd;
    height: 100%;
    text-decoration: none;
    display: inline;
    box-sizing: unset;
}
*/
